<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text = "${userModel.title}"></h3>
<div>
	<a href="users/form.html" th:href="@{/users/form}">创建用户</a>
</div>
<table border="1">
 <thread>
 	<tr>
 		<td>ID</td>
 		<td>Name</td>
 		<td>Phone</td>
 		<td>Email</td>
 	</tr>
 </thread>
	 <tbody>
	 <tr th:if="${userModel.userList.size()} eq 0">
	 	<td colspan=3>>没有用户信息!</td>
	 </tr>
	 <tr th:each ="	user: ${userModel.userList}">
	 <td th:text="${user.id}"></td>
	  <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
	   <td th:text="${user.phone}"></td>
	    <td th:text="${user.email}"></td>
	    </tr>
	</tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>